html,body{
  padding: 0;
  margin: 0;
}
body {
  background-image: url("../../assets/img/4455.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
