html,body{
  padding: 0;
  margin: 0;
}
body {
  background-image: url("../../assets/img/4455.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.containerSingle {
  position: relative;
  top: 3em;
  width: 90%;
  height: 80vh;
  margin: auto;
  display: flex;
  padding: 20px;
}

.solution {
  width: 65%;
  height: 100%;
  padding: 20px;
  margin-right: 1em;
}

.solution h3,
.solution h1 {
  line-height: 0;
  color: white;
  text-shadow: 1px 2px black;
  font-size: 2em;
}
.solution h1 {
  margin-top: -1em;
  margin-bottom: 1em;
  font-size: 3em;
}

.code {
  width: 100%;
  height: 70%;

}

.code textarea {
  background: none;
  border: none;
  padding: 10px;
  font-size: 25px;
  color: white;
  border-radius: 2em;
  text-shadow: 1px 2px black;
  
}
.code textarea:focus {
  outline: none;
}
.output {
  height: 7em;
  width: 98%;
  padding: 0.4em;
}
.output pre {
  text-shadow: 1px 2px black;
  color: white;
  margin-left: 0.5em;
  margin-top: 0.5em;
  white-space: pre-wrap;
  font-size: 20px;
}
.code,
.output,
.pane {
  background: rgba(217, 217, 217, 0.4);
  border-radius: 1em;

}

.solution,
.sidePane {
  background: linear-gradient(
    179.97deg,
    rgba(200, 103, 69, 0.3) 0.02%,
    rgba(223, 187, 137, 0.3) 74.46%
  );
  box-shadow: 9px 10px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0.8em;
}

.side {
  width: 30%;
}

.sidePane {
  margin: auto;
  display: block;
  padding: 10px;
  height: 94%;
}
.problem {
  height: 90%;
  width: 90%;
  padding: 1em;
}
.problemContent {
  width: 115%;
}
.problemContent h1 {
  margin-top: -1em;
  line-height: 0;
  font-size: 3em;
  margin-bottom: 1em;
}

.buttons {
  margin: auto;
  margin-top: 0.5em;
  height: 10%;
  width: 90%;
  padding: 0.5em;
  display: flex;
  justify-content: center;
}
.buttons input,
.buttons button {
  margin: auto;
  font-size: 1em;
}

#next,
#prev,
#home,
.topbuttons input {
  width: 9em;
  height: 3em;
  border-radius: 1em;
  color: white;
  border: 2px solid #fdfdfd;
  font-size: 1em;
}
#check,
#next,
#prev {
  background: #3ddc7d;
  margin-right: 0.5em;
}
#submit,
#home {
  background: #dc4c3d;
}
#home {
  margin-top: 0.3em;
}
.content {
  margin-top: 2em;
}
.content h3 {
  color: white;
  text-shadow: 1px 2px black;
  font-size: 1.5em;
}

.pane {
  margin-top: -1em;
  padding: 0.3em;
  margin-bottom: -0.5em;
  overflow: auto;
}


.pane p {
  font-size: 1.5em;
  color: white;
  margin-left: 0.5em;
  text-shadow: 1px 2px black;
}

#questionProblem, #inputProblem,#outputProblem {
  line-height: 1em;
}

.topbuttons {
  height: 10%;
  width: 20%;
  display: inline;
  margin: auto;
  margin-left: 1em;
  margin-top: 0;
}
.topbuttons input {
  margin: auto;
  margin-bottom: 1em;
}

.contentOutput {
  display: flex;
}

/* Customize scrollbar */
.pane::-webkit-scrollbar {
  width: 10px;
}

.pane::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.pane::-webkit-scrollbar-thumb {
  background: #888;
}

.pane::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.outer_pane{
  height: 33%;
}
.pane{
  height: 8em;
}

.bg_modal{
  background: rgba(0, 0, 0, 0.55);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;

}
.modal{
  height: 10em;
  width: 20em;
  padding: 1em;
  background: #343434;
  border-radius: .5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal_btn{
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
}
.modal_text{
  text-align: center;
}
.buttonModal{
  padding:.5em;
  background: #000;
  width: 5em;
  text-align: center;
  border-radius: .5em;
}
.yesBtn{
  background-color: #3ddc7d;
}
.noBtn{
  background-color: #dc4c3d;
}

/* SELECT Question */
.bg_select{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top:0;
  background: rgba(0, 0, 0, 0.75);

}
.select{
  background: #343434;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 20em;
  height: 20em;
  padding-inline: 2em;
  border-radius: .5em;
}
.select h2{
  text-align: center;
}
.select_entry{
  background-color: #3ddc7d;
  display: flex;
  padding-inline: 1em;
  justify-content: space-between;
  margin-top: 1em;
}