body {
  background-image: url("../../assets/img/4455.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.containerSingle {
  position: relative;
  top: 5em;
  width: 90%;
  height: 40em;
  margin: auto;
  display: flex;
  padding: 20px;
}

.solution {
  width: 70%;
  height: 100%;
  padding: 20px;
  margin-right: 3em;
}

.solution h3,
.solution h1 {
  line-height: 0;
  color: white;
  text-shadow: 1px 2px black;
  font-size: 2em;
}
.solution h1 {
  margin-top: -1em;
  margin-bottom: 1em;
  font-size: 4em;
}

.code {
  width: 100%;
  height: 70%;
}

.code textarea {
  background: none;
  border: none;
  padding: 10px;
  font-size: 25px;
  color: white;
  border-radius: 2em;
  text-shadow: 1px 2px black;
}
.code textarea:focus {
  outline: none;
}
.output {
  height: 7em;
  width: 98%;
  padding: 0.4em;
}
.output pre {
  text-shadow: 1px 2px black;
  color: white;
  margin-left: 0.5em;
  margin-top: 0.5em;
  white-space: pre-wrap;
  font-size: 20px;
}
.code,
.output,
.pane {
  background: rgba(217, 217, 217, 0.4);
  border-radius: 1em;
}

.solution,
.sidePane {
  background: linear-gradient(
    179.97deg,
    rgba(200, 103, 69, 0.3) 0.02%,
    rgba(223, 187, 137, 0.3) 74.46%
  );
  box-shadow: 9px 10px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0.8em;
}

.side {
  width: 30%;
}

.sidePane {
  margin: auto;
  display: block;
  width: 90%;
  height: 36em;
  padding: 10px;
}
.problem {
  height: 90%;
  width: 90%;
  padding: 1em;
}
.problemContent {
  width: 115%;
}
.problemContent h1 {
  margin-top: -1em;
  line-height: 0;
  font-size: 4em;
  margin-bottom: 1em;
}

.buttons {
  margin: auto;
  margin-top: 0.5em;
  height: 10%;
  width: 90%;
  padding: 0.5em;
  display: flex;
  justify-content: center;
}
.buttons input,
.buttons button {
  margin: auto;
  font-size: 1em;
}

#next,
#prev,
#home,
.topbuttons input {
  width: 9em;
  height: 3em;
  border-radius: 1em;
  color: white;
  border: 2px solid #fdfdfd;
  font-size: 1em;
}
#check,
#next,
#prev {
  background: #3ddc7d;
  margin-right: 0.5em;
}
#submit,
#home {
  background: #dc4c3d;
}
#home {
  margin-top: 0.5em;
}
.content {
  margin-top: 2em;
}
.content h3 {
  color: white;
  text-shadow: 1px 2px black;
  font-size: 1.5em;
}

.pane {
  margin-top: -1em;
  padding: 0.3em;
  margin-bottom: -0.5em;
}
.pane p {
  font-size: 1.5em;
  line-height: 0.3em;
  color: white;
  margin-left: 0.5em;
  text-shadow: 1px 2px black;
}

#questionProblem {
  line-height: 1em;
}

.topbuttons {
  height: 2em;
  width: 15%;
  display: inline;
  margin: auto;
  margin-left: 1em;
  margin-top: 0;
}
.topbuttons input {
  margin: auto;
  margin-bottom: 1em;
}

.contentOutput {
  display: flex;
}

@media screen and (max-width: 600px) and (min-height: 287px) {
  .containerSingle {
    margin-top: -3.5em;
    height: 12em;
  }

  .solution {
    margin-top: -2em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    height: 115%;
    width: 60%;
  }
  .solution h1 {
    font-size: 1em;
    margin-top: -0.5em;
  }
  .solution h3 {
    margin-top: 0.5em;
    font-size: 1em;
  }
  .code {
    margin-top: -0.2em;
  }
  .output {
    height: 15%;
    margin-top: -1em;
    width: 100%;
  }

  .side {
    width: 40%;
    height: 120%;
    margin-right: -2em;
    margin-top: -2em;
  }
  .sidePane {
    height: 12.5em;
  }
  .problemContent h1 {
    font-size: 1em;
    text-align: center;
    margin-top: -0.8em;
  }
  .content h3 {
    font-size: 0.8em;
    margin-bottom: 1.3em;
  }
  .content {
    margin-top: -0.1em;
  }
  .pane {
    padding: 0.1em;
  }
  .pane p {
    font-size: 0.8em;
  }
  #next,
  #prev,
  #home {
    width: 7em;
    height: 2.5em;
    margin-top: -0.5em;
  }
  .code textarea {
    font-size: 1em;
  }

  #outputText {
    font-size: 1em;
    line-height: 0;
  }

  .topbuttons {
    margin-top: -1.5em;
    margin-left: 0.5em;
    margin-right: 1em;
    font-size: 0.8em;
  }
  .topbuttons input {
    margin-bottom: 0.3em;
  }
  .buttons {
    font-size: 0.8em;
  }
  #submit,
  #check {
    border: 2px solid white;
    width: 5em;
    height: 2.2em;
  }
  #submit {
    background-color: #dc4c3d;
  }
  #check {
    background-color: #3ddc7d;
  }
  .contentOutput {
    height: 18em;
    margin-top: 1.5em;
  }
}
