
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* background: linear-gradient(rgba(152, 146, 146, 0.3),rgba(152, 146, 146, 0.3)); */
    
}
.container-box{
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    margin-top: 10em;
    z-index: 2;
}

.container .battle-mode{
    width: 30%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5em;
    margin-right: 10em;
}

.toggle-button {
    position: relative;
    display: inline-block;
    width: 6.5em;
    height: 2.5em;
    border-radius: 34px;
    background-color:#dc4c3d;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    gap: 1em;
    color: white;
    cursor: pointer;
  }
  
  .toggle-button p{
    font-weight: bolder;
  }
  
  
  .toggle-button.off .toggle-icon {
    position: absolute;
    top: -1;
    left: -1px;
    width: 2.7em;
    height: 2.7em;
    background-color: #fff;
    border-radius: 100%;
    transition: .5s ease-in-out;
    transform: translateX(0);
  }
  
  .toggle-button.on .toggle-icon {
    position: absolute;
    top: -1;
    left: 19px;
    width: 2.9em;
    height: 2.9em;
    background-color: #fff;
    border-radius: 100%;
    transition: .5s ease-in-out;
    transform: translateX(25px);
  }