
.btn{
    padding: .6rem 2.3em;
    width: 10em;
    background-color: #DC4C3D;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 2em;
}

.btn a{
    text-decoration: none;
    color: white;
}

.btn:hover{
    transition: .5s;
    background-color: rgba(220, 76, 61,0.7);
}

.Settings{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* background: linear-gradient(rgba(29, 17, 17, 0.2),rgba(152, 146, 146, 0.1)); */
}

.Settings img{
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 100%;
    z-index: -1;
}

.Settings-box{
    width: 50%;
    height: 70vh;
    max-width: 400px;
    background: linear-gradient(179.97deg, rgba(200, 103, 69, 0.3) 18.08%, rgba(223, 187, 137, 0.3) 47.71%);
    border-radius: 8px;
    padding-top: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

.Settings-box h1{
    font-weight: bolder;
    font-size: 5rem;
    position: absolute;
    top: -1.6em;
    right: 2.2em;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.Settings-box span{
   position: absolute;
   top: .8em;
   right: -2em;
}

.audio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    font-size: 1.5rem;
    font-weight: bolder;
    gap: 3em;
}

.vol{
    position: relative;
    margin: 1em 0;
    cursor: pointer;
}

.vol .vol-oval{
    width: 4em;
    height: 1em;
    background-color: #DC4C3D;
    border: 3px solid white;
    border-radius: 18px;
    font-size: 1rem;
    padding: .5em 0;
    padding-left: .6em;
}

.vol .vol-circle{
    width: 1.5em;
    height: 1.5em;
    background-color: #DC4C3D;
    border: 3px solid white;
    border-radius: 100%;
    position: absolute;
    top: -2px;
    right: 0;
}


.first-line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 1.5em 0;
}