.App{
    animation: loading 1s 8s forwards;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 250;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-bar {
    width: 60%;
    height: 3.5em;
    background-color: transparent;
    margin-bottom: 20px;
    border: 4px solid white;
    border-radius: 12px;
  }
  
.loading-bar-fill {
height: 100%;
background: linear-gradient(
    180deg,
    rgba(220, 76, 61,0.95) 62.87%,
    #831616 71.55%
    );
transition:0.3s ease-in-out;
border-radius: 8px;
}

.character-content{
    height: 70vh;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.game-title{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    font-size: 7.5rem;
    bottom: -1.2em;
    text-align: center;
    font-weight: bolder;
    z-index: 10;
    animation: fallp 5s forwards ease-in-out;
}

.game-title p{
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

.charMan,
.charWoman{
    width: 22em;
    height: 100%;
}

.charMan img,
.charWoman img{
    width: 30em;
    height: 75vh;
}

.charWoman{
    transform: rotateY(180deg);
}

.loading-progress{
    position: absolute;
    bottom: -.6em;
    font-size: 3.5rem;
    font-weight: bolder;
}
  

@keyframes loading {
    100%{opacity: 0; z-index: -20;}
}

@keyframes fallp {
    0%{bottom: 4.3em; rotate: 0;}
    100%{bottom: -1.2em; rotate: 0;}
}